{% extends 'category/detailnav.html' %}
{% block title %}Consumer Electronics{% endblock %}
{% block body %}


    <div class="col-md-9">

<div id="detailsPage">
     <div class="col-md-5">
    <div class="thumbnail" style="padding-bottom: 40px">
      <a href="{{ item.item_logo.url }}">
        <img  class="img-responsive" src ="{{ item.item_logo.url }}" alt="Lights" style="width:100%" >
        <div class="caption">
          <h3 class="text-primary">{{ item.item_name }}</h3>
            <h4>{{item.item_price}}</h4>
        </div>
      </a>
    </div>
  </div>

    <div class="col-md-7" >
<div class="panel panel-default">
    <div class="panel-heading"><h3>General Details</h3></div>
      <div class="panel-body">
          <h4 class="text-primary">Price: RS {{ item.item_price}}</h4>
        <h4 class="text-primary">Condition: {{ item.item_status }}</h4>
      </div>
    </div>
    </div>

 <div class="col-md-7">
<div class="panel panel-default">
    <div class="panel-heading"><h3>Seller Details</h3></div>
      <div class="panel-body">
          <p class="text-primary">{{ item.seller_info}}</p>

      </div>
    </div>
    </div>

    <div class="col-md-7">
<div class="panel panel-default">
    <div class="panel-heading"><h3>Item Specification</h3></div>
      <div class="panel-body">
          <p class="text-primary">{{ item.item_spec}}</p>

      </div>
    </div>
    </div>

<div class="col-md-12">
<div class="panel panel-default">
    <div class="panel-heading"><h3>Description</h3></div>
      <div class="panel-body">
          <h5 class="text-primary">
          {{ item.description}}
          </h5>
      </div>
    </div>
    </div>

</div>
    </div>
<div class="col-sn-4">
    <h2>Recommendation</h2>

    {% for item in items %}
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="thumbnail">
                        <a href="{% url 'computer:detail' item.id %}">
                            <img src="{{ item.item_logo.url }}" class="img-responsive">
                        </a>
                    <div>

                        <li>{{item.item_name}}</li>
                        <li>{{item.item_status}}</li>
                        <li>Rs {{item.item_price}}</li>
                         <a href="{% url 'computer:detail' item.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                    </div>

                    </div>

</div>
    {% endfor %}
</div>

    <style>
    #detailsPage{
        padding-top: 30px;
    }
    #productDetails{
        padding-left: 20px;
    }
    </style>



{% endblock %}





